Package: com.lxcloud.wct9nobadge
Name: WCT9NoBadge
Version: 1.0-1
Architecture: iphoneos-arm64
Depends: mobilesubstrate, firmware (>= 14.0)
Description: 隐藏微信输入法九键数字小标
Author: 凉心
Maintainer: 凉心
Section: Tweaks
